# Introduction

## Mobile App for Lottery Addiction

This application is designed to treat gambling addictions.  There are already engineers who will buijld the app but the goal here is to create the logical core of the app and caluclate probabilities

The questions being asked for the app are?

* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
* What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

# Core fuctions

In [1]:
def factorial(n):
    final_product = 1
    for i in range(n, 0, -1):
        final_product *= i
    return final_product

def combinations(n, k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n - k)
    return numerator / denominator

# One-Ticket Probability

In [45]:
def one_ticket_probability(user_numbers):
    n_possbilities = combinations(49, 6)
    probability_one_ticket = 1 / n_possbilities
    probability_percent = probability_one_ticket * 100
    print('Your chances of winning with these numbers are {:.7f}%. In other words you have a 1 in {:,} chance to win'.format(probability_percent,int(n_possbilities)))

In [46]:
input_1 = [1, 4, 7, 9, 20, 49]
one_ticket_probability(input_1)

Your chances of winning with these numbers are 0.0000072%. In other words you have a 1 in 13,983,816 chance to win

In [47]:
input_2 = [9, 26, 41, 7, 15, 6]
one_ticket_probability(input_2)

Your chances of winning with these numbers are 0.0000072%. In other words you have a 1 in 13,983,816 chance to win

# Historical Data Check for Canada Lottery

In [15]:
import pandas as pd
canada_lottery = pd.read_csv('649.csv')
canada_lottery.shape

(3665, 11)

In [16]:
canada_lottery.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [18]:
canada_lottery.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

# Function for Historical Data Check

In [29]:
canada_lottery.iloc[0,4]

3

In [31]:
canada_lottery.iloc[0,10]

13

In [32]:
canada_lottery[4:10].values

array([[649, 5, 0, '7/10/1982', 5, 14, 21, 31, 34, 47, 45],
       [649, 6, 0, '7/17/1982', 8, 20, 21, 25, 31, 41, 33],
       [649, 7, 0, '7/24/1982', 18, 25, 28, 33, 36, 42, 7],
       [649, 8, 0, '7/31/1982', 7, 16, 17, 31, 40, 48, 26],
       [649, 9, 0, '8/7/1982', 5, 10, 23, 27, 37, 38, 33],
       [649, 10, 0, '8/14/1982', 4, 15, 30, 37, 46, 48, 3]], dtype=object)

In [33]:
def extract_numbers(row):
    row = row[4:10] # range to get
    row = set(row.values)
    return row

winning_numbers = canada_lottery.apply(extract_numbers, axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [37]:
def check_historical_occurence(user_numbers, historical_numbers):
    user_numbers_set = set(user_numbers)
    check_occurance = user_numbers_set == historical_numbers # does the input show up in the historical numbers?
    n_occurances = check_occurance.sum()
    
    if n_occurances == 0:
        print('''That combination {} has never occured. This doesn't mean that it's more likely to occur now.'''.format(user_numbers))
    else:
        print('''The number of times this combination {} has occurred in the past is {}.'''.format(user_numbers_set,n_occurances))

In [38]:
input_3 = [33, 36, 37, 39, 8, 41]
check_historical_occurence(input_3, winning_numbers)

The number of times this combination {33, 36, 37, 39, 8, 41} has occurred in the past is 1.

In [39]:
input_4 = [3, 2, 44, 22, 1, 44]
check_historical_occurence(input_4, winning_numbers)

That combination [3, 2, 44, 22, 1, 44] has never occured. This doesn't mean that it's more likely to occur now.

# Multi-ticket Probability

In [43]:
def multi_ticket_probability(n_tickets):
    n_possbilities = combinations(49, 6)
    n_outcomes = n_tickets / n_possbilities
    probability_percent = n_outcomes * 100
    if n_tickets == 1:
        print('Your chances of winning with 1 ticket {:.6f}%. In other words you have a 1 in {:,} chance to win.'.format(probability_percent,int(n_possbilities)))
    else:
        simple_combinations = round(n_possbilities / n_tickets) # number of combinations per ticket
        print('Your chances of winning with {} number of tickets is {:.6f}%.  In other words you have a 1 in {:,} chance to win.'.format(n_tickets,probability_percent,simple_combinations))

In [44]:
test = [1, 10, 100, 10000, 1000000, 6991908, 13983816]
for t in test:
    multi_ticket_probability(t)
    print('-----------------------------')

Your chances of winning with 1 ticket 0.000007%. In other words you have a 1 in 13,983,816 chance to win.
-----------------------------
Your chances of winning with 10 number of tickets is 0.000072%.  In other words you have a 1 in 1,398,382 chance to win.
-----------------------------
Your chances of winning with 100 number of tickets is 0.000715%.  In other words you have a 1 in 139,838 chance to win.
-----------------------------
Your chances of winning with 10000 number of tickets is 0.071511%.  In other words you have a 1 in 1,398 chance to win.
-----------------------------
Your chances of winning with 1000000 number of tickets is 7.151124%.  In other words you have a 1 in 14 chance to win.
-----------------------------
Your chances of winning with 6991908 number of tickets is 50.000000%.  In other words you have a 1 in 2 chance to win.
-----------------------------
Your chances of winning with 13983816 number of tickets is 100.000000%.  In other words you have a 1 in 1 chance to win.
-----------------------------

# Less Winning Numbers -- Function

In [51]:
def probability_less_6(n_winning_numbers):
    n_combinations_ticket = combinations(6,n_winning_numbers)
    n_combinations_remaining = combinations(43, 6 - n_winning_numbers) # 1 number didn't win
    successful_outcomes = n_combinations_ticket * n_combinations_remaining # wins with 5 or less winning numbers
    n_combinations = combinations(49,6)
    probability = successful_outcomes / n_combinations
    probability_percentage = probability * 100
    simple_combinations = round(n_combinations / successful_outcomes)
    print('Your chances of having {} winning numbers with this ticket are {:.6f}%.  In other words you have a 1 in {:,} chance to win'.format(n_winning_numbers,probability_percentage,int(simple_combinations)))

In [53]:
test_2 = [2,3,4,5]
for n in test_2:
    probability_less_6(n)
    print('-----------------------------')

Your chances of having 2 winning numbers with this ticket are 13.237803%.  In other words you have a 1 in 8 chance to win
-----------------------------
Your chances of having 3 winning numbers with this ticket are 1.765040%.  In other words you have a 1 in 57 chance to win
-----------------------------
Your chances of having 4 winning numbers with this ticket are 0.096862%.  In other words you have a 1 in 1,032 chance to win
-----------------------------
Your chances of having 5 winning numbers with this ticket are 0.001845%.  In other words you have a 1 in 54,201 chance to win
-----------------------------

# Next Steps

For the second version of the app we can do the following:
* Add anologies comparing strange events to winning the lottery
* Combining the one_ticket_probability and check_historical_occurence functions to perform probabililty and historical occurance checks
* Create a function similar to probabliity_less_6() that calculates successful outocmes for 4, 5 and 6 winning numbers exactly